discord/node_modules/
discord/build/
discord/.env

backend/node_modules/
backend/build/
backend/.env

databasemigration/node_modules/
databasemigration/build/
databasemigration/.env

frontend/node_modules/
frontend/build/
frontend/.env